.projects {
  align-items: center;
  border: 1px solid red;
  color: var(--timberwolf);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 85vh;
  padding: 4rem 0;
  /* margin-top: 15vh; */
  /* margin: 15vh 1.5rem 0 1.5rem; */

}
