.projects {
  align-items: center;
  /* border: 1px solid red; */
  color: var(--timberwolf);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 85vh;
  padding: 4rem 0;
  gap: 6rem;
  margin-bottom: 15vh;
}
