* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;  
}

html {
    font-size: 62.5%;
    font-family: 'Yantramanav', serif;
/* CSS HEX */
--onyx: #393e41ff;
--timberwolf: #d3d0cbff;
--platinum: #e7e5dfff;
--keppel: #44bba4ff;
--maize-crayola: #e7bb41ff;

/* CSS HSL */
--onyx: hsla(203, 7%, 24%, 1);
--timberwolf: hsla(38, 8%, 81%, 1);
--platinum: hsla(45, 14%, 89%, 1);
--keppel: hsla(168, 47%, 50%, 1);
--maize-crayola: hsla(44, 78%, 58%, 1);

/* SCSS HEX */
$onyx: #393e41ff;
$timberwolf: #d3d0cbff;
$platinum: #e7e5dfff;
$keppel: #44bba4ff;
$maize-crayola: #e7bb41ff;

/* SCSS HSL */
$onyx: hsla(203, 7%, 24%, 1);
$timberwolf: hsla(38, 8%, 81%, 1);
$platinum: hsla(45, 14%, 89%, 1);
$keppel: hsla(168, 47%, 50%, 1);
$maize-crayola: hsla(44, 78%, 58%, 1);

/* SCSS RGB */
$onyx: rgba(57, 62, 65, 1);
$timberwolf: rgba(211, 208, 203, 1);
$platinum: rgba(231, 229, 223, 1);
$keppel: rgba(68, 187, 164, 1);
$maize-crayola: rgba(231, 187, 65, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #393e41ff, #d3d0cbff, #e7e5dfff, #44bba4ff, #e7bb41ff);
$gradient-right: linear-gradient(90deg, #393e41ff, #d3d0cbff, #e7e5dfff, #44bba4ff, #e7bb41ff);
$gradient-bottom: linear-gradient(180deg, #393e41ff, #d3d0cbff, #e7e5dfff, #44bba4ff, #e7bb41ff);
$gradient-left: linear-gradient(270deg, #393e41ff, #d3d0cbff, #e7e5dfff, #44bba4ff, #e7bb41ff);
$gradient-top-right: linear-gradient(45deg, #393e41ff, #d3d0cbff, #e7e5dfff, #44bba4ff, #e7bb41ff);
$gradient-bottom-right: linear-gradient(135deg, #393e41ff, #d3d0cbff, #e7e5dfff, #44bba4ff, #e7bb41ff);
$gradient-top-left: linear-gradient(225deg, #393e41ff, #d3d0cbff, #e7e5dfff, #44bba4ff, #e7bb41ff);
$gradient-bottom-left: linear-gradient(315deg, #393e41ff, #d3d0cbff, #e7e5dfff, #44bba4ff, #e7bb41ff);
$gradient-radial: radial-gradient(#393e41ff, #d3d0cbff, #e7e5dfff, #44bba4ff, #e7bb41ff);

}

body {
    background: linear-gradient(180deg, var(--onyx) 10%, rgb(98, 107, 112), white);
}

header {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    width: 100vw;
    height: 15vh;
    justify-content: center;
    padding: 0 5rem 0 5rem;
   
}

.nav-bar{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    visibility: hidden;
}

.item-bar{
    
    font-size: 2rem;
    color: var(--maize-crayola);
    
}

figure{
    box-sizing: border-box;
    margin: 0.5rem 0 0 0;
    padding: 0;
    align-items: center;
}

#logo {
    position: absolute;
    max-height: 80%;
    
}

.hero{
    position: relative;
    display: flex;
    flex-wrap:wrap;
    flex-direction: column;
    height: 85vh;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-family: Work Sans, serif;
    color: var(--onyx);
    
}

.bulb-track {
    position: relative;
    height: 12rem;
    width: 15rem;
    border-bottom: 0;
    margin-bottom: 1.5rem;
    
}


.bulb{
    position:absolute;
    background: var(--platinum);
    opacity: 0.5;
    left:0;
    right:0;
    margin: auto;
    

}

.top{
    width: 7rem;
    height: 7rem;
    border-radius: 100%;
    
}

.screw1  {
    top: 7.5rem;
    width: 3rem;
    height: 0.5rem;     
}

.screw2 {
    top: 8.5rem;
    width: 3rem;
    height: 0.5rem; 
}

.screw3 {
    top: 9.5rem;
    width: 3rem;
    height: 0.5rem; 
}
.container-phone {
    position: relative;
    width: 13.2rem;
    height: 6rem;
    opacity: 0;
    perspective: 10rem;
}

.cellphone {
    
    position: absolute;
    width: 13.2rem;
    height: 6rem;
    background-color: var(--maize-crayola);
    border: 5px solid black;
    border-radius: 1rem;
    transform: rotateX(45deg);
    transform-style: preserve-3d;
}

.notch {
    position: absolute;
    top:4.2rem;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 100%;
    background-color: black;
    transform: rotateX(45deg);
    transform-style: preserve-3d;
}
.bulb-track:hover{
    transform: translateY(-10rem);
    border-width: 10px;
    border-radius: 1rem;
    transition: all 1s;
    transition-duration: 2s;
    
    
}

.top:hover{
    background: var(--maize-crayola);
    opacity: 1;
    transition: all 1s;
    transition-duration: 2s;
    box-shadow: 0 0 20rem 12rem var(--maize-crayola);
   
}

.container-phone:hover {
    opacity: 0.5;
    transition: all 1.0s cubic-bezier(0.61, 1, 0.88, 1);
    

}
.hero-title{
    font-size: 5rem;
}

.hero-text{
    font-size: 2.5rem;
    color: var(--keppel);
    text-shadow: 1px 1px 2px black;
}