* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;  
}

html {
    font-size: 62.5%;
    font-family: 'Yantramanav', serif;
/* CSS HEX */
--onyx: #393e41ff;
--timberwolf: #d3d0cbff;
--platinum: #e7e5dfff;
--keppel: #44bba4ff;
--maize-crayola: #e7bb41ff;

/* CSS HSL */
--onyx: hsla(203, 7%, 24%, 1);
--timberwolf: hsla(38, 8%, 81%, 1);
--platinum: hsla(45, 14%, 89%, 1);
--keppel: hsla(168, 47%, 50%, 1);
--maize-crayola: hsla(44, 78%, 58%, 1);

/* SCSS HEX */
$onyx: #393e41ff;
$timberwolf: #d3d0cbff;
$platinum: #e7e5dfff;
$keppel: #44bba4ff;
$maize-crayola: #e7bb41ff;

/* SCSS HSL */
$onyx: hsla(203, 7%, 24%, 1);
$timberwolf: hsla(38, 8%, 81%, 1);
$platinum: hsla(45, 14%, 89%, 1);
$keppel: hsla(168, 47%, 50%, 1);
$maize-crayola: hsla(44, 78%, 58%, 1);

/* SCSS RGB */
$onyx: rgba(57, 62, 65, 1);
$timberwolf: rgba(211, 208, 203, 1);
$platinum: rgba(231, 229, 223, 1);
$keppel: rgba(68, 187, 164, 1);
$maize-crayola: rgba(231, 187, 65, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #393e41ff, #d3d0cbff, #e7e5dfff, #44bba4ff, #e7bb41ff);
$gradient-right: linear-gradient(90deg, #393e41ff, #d3d0cbff, #e7e5dfff, #44bba4ff, #e7bb41ff);
$gradient-bottom: linear-gradient(180deg, #393e41ff, #d3d0cbff, #e7e5dfff, #44bba4ff, #e7bb41ff);
$gradient-left: linear-gradient(270deg, #393e41ff, #d3d0cbff, #e7e5dfff, #44bba4ff, #e7bb41ff);
$gradient-top-right: linear-gradient(45deg, #393e41ff, #d3d0cbff, #e7e5dfff, #44bba4ff, #e7bb41ff);
$gradient-bottom-right: linear-gradient(135deg, #393e41ff, #d3d0cbff, #e7e5dfff, #44bba4ff, #e7bb41ff);
$gradient-top-left: linear-gradient(225deg, #393e41ff, #d3d0cbff, #e7e5dfff, #44bba4ff, #e7bb41ff);
$gradient-bottom-left: linear-gradient(315deg, #393e41ff, #d3d0cbff, #e7e5dfff, #44bba4ff, #e7bb41ff);
$gradient-radial: radial-gradient(#393e41ff, #d3d0cbff, #e7e5dfff, #44bba4ff, #e7bb41ff);

}

header {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    width: 100vw;
    min-height: 60px;
    justify-content: center;
    background: var(--onyx);
    padding: 0 5rem 0 5rem;
    border-color: var(--onyx);
    border-width: 100px;
    
    
    
}

.nav-bar{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    visibility: hidden;
}

.item-bar{
    font-size: 2rem;
    color: var(--maize-crayola);
    
}

figure{
    box-sizing: border-box;
    margin: 0.5rem 0 0 0;
    padding: 0;
    align-items: center;
}

#logo {
    position: absolute;
    max-height:80%;
    
}

.container{
    display: flex;
    flex-wrap:wrap;
    flex-direction: column;
    height: 80vh;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-family: Work Sans, serif;
    color: var(--onyx);
}

h1{
    font-size: 5rem;
}

h3{
    font-size: 2.5rem;
    color: var(--keppel);
}