.hero {
  align-items: center;
  color: var(--onyx);
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  font-family: Work Sans, serif;
  height: 85vh;
  justify-content: flex-start;
  margin: 15vh 1.5rem 0 1.5rem;
  padding: 4rem 0;
  position: relative;
  text-align: center;
}

.heroTitle {
  font-size: 3rem;
  color: var(--keppel);
  font-family: Andika, sans-serif;
  text-shadow: 1px 1px 2px black;
}

.heroText {
  font-size: 1.6rem;
  margin-bottom: 10rem;
  font-family: Yantramanav, sans-serif;
  text-shadow: 0.5px 0.5px 1px black;
  color: white;
}

.bulbTrack {
  position: relative;
  height: 12rem;
  width: 7rem;
  border-bottom: 0;
}

.bulb {
  position: absolute;
  background: var(--platinum);
  opacity: 0.5;
  left: 0;
  right: 0;
  margin: auto;

  animation: goUp 2s ease-in-out 20ms forwards;
}

@keyframes goUp {
  0% {
  }
  100% {
    transform: translateY(-8rem);
  }
}

.top {
  width: 7em;
  height: 7em;
  border-radius: 100%;

  animation: turnOn 4s ease-in-out 20ms forwards;
}

@keyframes turnOn {
  0% {
  }
  50% {
    background: var(--maize-crayola);
    opacity: 1;
    box-shadow: 0 0 20rem 12rem var(--maize-crayola);
    transform: translateY(-8rem);
  }

  100% {
    background: var(--maize-crayola);
    opacity: 1;
    box-shadow: 0 0 20rem 6rem var(--maize-crayola);
    transform: translateY(-8rem);
  }
}

.screw1 {
  top: 7.5em;
  width: 3em;
  height: 0.5em;
}

.screw2 {
  top: 8.5em;
  width: 3em;
  height: 0.5em;
}

.screw3 {
  top: 9.5em;
  width: 3em;
  height: 0.5em;
}

@media (min-width: 768px) {
  .heroTitle {
    font-size: 5rem;
    color: var(--keppel);
    text-shadow: 1px 1px 2px black;
  }

  .heroText {
    font-size: 2.5rem;
    margin-bottom: 10rem;
    font-family: Yantramanav, sans-serif;
    text-shadow: 0.5px 0.5px 1px black;
    color: white;
  }
}

.containerPhone {
  margin: -60px;
  position: relative;
  width: 26.2rem;
  height: 15rem;
  /* opacity: 0; */
  perspective: 10rem;
}

.screen {
  position: absolute;
  width: 26.2rem;
  height: 15rem;
  background-color: var(--maize-crayola);
  border: 5px solid var(--onyx);
  border-radius: 1rem;
  transform-style: preserve-3d;

  animation: phoneCome 6s ease-in-out 20ms forwards;
}

@keyframes phoneCome {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.5;
  }
}

.screenCarousel {
  display: flex;
  height: 15rem;
}

.screenCarousel div {
  height: 100%;
}

.screenSlide {
  display: flex;
  justify-content: flex-start;
  font-size: 8rem;
  color: var(--onyx);
  width: min-content;
}

.screenSlide a {
  color: var(--onyx);
}

.screenSlide a:hover {
  color: var(--keppel);
}

/* Custom styles for Ant Design Carousel arrows */
.screenCarousel .slick-prev,
.screenCarousel .slick-arrow {
  color: var(--keppel);
}

.notch {
  position: absolute;
  top: 0.8rem;
  left: 50%;
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 100%;
  background-color: var(--onyx);

  transform-style: preserve-3d;

  animation: phoneCome 3s ease-in-out 20ms forwards;
}

.keyboard {
  position: absolute;
  top: 15.1rem;
  left: -1rem;
  width: 28.2rem;
  height: 1rem;
  background-color: var(--onyx);
  transform-style: preserve-3d;

  animation: phoneCome 6s ease-in-out 20ms forwards;
}

.pad {
  position: absolute;
  top: 15.1rem;
  left: 11.1rem;
  width: 4.2rem;
  height: 0.4rem;
  background-color: var(--keppel);
  transform-style: preserve-3d;

  animation: phoneCome 6s ease-in-out 20ms forwards;
}

.screen:hover {
  background-color: var(--platinum);
}
