.header {
  position: fixed;
  top: 0;
  display: flex;
  flex-wrap: nowrap;
  width: 100vw;
  height: 15vh;
  justify-content: center;
  padding: 0 5rem 0 5rem;
  /* background-color: #020202; */
  z-index: 100;
  box-shadow:  0 2px 4px rgba(0, 0, 0, 0.1); ;
}

.logo {
  /* position: absolute; */
  max-height: 80%;
  user-select: none;
  pointer-events: none;
}

.figure {
  box-sizing: border-box;
  margin: 0.5rem 0 0 0;
  padding: 0;
  align-items: center;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  visibility: hidden;
}

.item {
  font-size: 2rem;
  color: var(--maize-crayola);
}

@media (min-width: 768px) {
  .header {
    justify-content: space-between;
  }

  .item {
    visibility: visible;
    margin: 2rem;
  }
}
