.navigator {
  position: relative;
  display: flex;
  background-color: var(--timberwolf);
  width: 84%;
  aspect-ratio: 1.75;
  /* height: calc(15rem * 1.2); */
  border-radius: 0.8rem;
  border-top: 2rem solid var(--onyx);
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
  opacity: 0.5;
  color: var(--timberwolf);
  animation: showTitle 1s ease-in-out 10ms backwards;
}

@keyframes showTitle {
  0% {
    color: transparent;
    opacity: 1;
  }
  100% {
    color: var(--timberwolf);
  }
}

.container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
.navigator:hover {
  color: transparent;
  animation: fadeTitle 1s ease-in-out 10ms forwards;
}

@keyframes fadeTitle {
  0% {
    color: var(--rimberwolf);
  }
  100% {
    color: transparent;
    opacity: 1;
  }
}

.navigator h3 {
  font-size: 5rem;
  -webkit-text-stroke: 2px var(--onyx);
}

.close,
.maximize,
.minimize {
  position: absolute;
  border-radius: 100%;
  height: 1rem;
  width: 1rem;
  top: -1.5rem;
}

.close {
  background-color: rgb(233, 15, 99);
  left: 0.5rem;
}
.minimize {
  background-color: rgb(255, 235, 59);
  left: 2rem;
}
.maximize {
  background-color: rgb(76, 175, 80);
  left: 3.5rem;
}

.info {
  padding: 2rem 4rem 2rem 4rem;
  align-items: center;
  justify-content: center;
}

.tagContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.info p {
  font-size: 2.5rem;
  max-width: calc(26.2rem * 2);
  text-align: justify;
  text-justify: inter-word;
}

.buttonMore {
  transition: transform 1s ease;
}

.buttonMore.show {
  transform: rotate(45deg);
}

.description {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.5s ease, max-height 0.5s ease;
}

.description.show {
  opacity: 1;
  max-height: 200px; /* Adjust based on your content */
}
/* --onyx: #393e41ff;
  --timberwolf: #d3d0cbff;
  --platinum: #e7e5dfff;
  --keppel: #44bba4ff;
  --maize-crayola: #e7bb41ff; */
@media (min-width: 768px) {
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .navigator {
    width: calc(26.2rem * 2);
    height: calc(15rem * 2);
    border-top: 2rem solid var(--onyx);
    /* background-image: url("/project1pic.webp"); */
    background-repeat: no-repeat;
  }

  .picture:hover {
    background-size: 110%;
    filter: grayscale(0%);
  }
}
