

.container {
    height:85vh;
    color: var(--timberwolf);
    padding: 0rem 5rem;
    display:grid;
    grid-template-columns: 1fr;
    place-items: center;
   
}
.container div{
    width: 100%;
}

.container div h1{
    font-family: Andika, sans-serif;
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}
.formItem label{
    color: var(--timberwolf) !important;
    font-weight: bold;
}

.secondColumn{
    display:none
}
@media(min-width: 768px){
    
    .container { 
        grid-template-columns: 2fr 1fr;
    
    }
    .container div{
        width: 90%;
    }
    
    
    .formItem label{
        color: var(--timberwolf) !important;
        font-weight: bold;
    }

    .secondColumn{
        display:block
    }
    
}